body { width:100%; margin:0 auto; height:100%; display:table; font-family: 'Nexa Light Regular'; font-size:18px;}

/*TOPO*/
.topo 				{ width:100%; margin:0 auto; padding-top:35px; padding-bottom:20px; text-align:center;}
.topo .logo 		{ width:400px; margin:0 auto;  margin-bottom:50px;}
.topo .menu 		{ width:100%; height:50px; display:table; background:#3a5460; }
.topo .menu #menu 	{ width:980px; display:table; margin:0 auto}

/*MENU*/
#menu ul 			{ height:50px; margin:0 auto; padding:0;}
#menu ul li 		{ display: inline; float:left; margin:0 auto; text-align:center; width:20%; line-height:50px;}
#menu ul li:hover 	{ background:#b01116;}
#menu ul a  		{ color:#FFF; font-size:18px;}

#menu ul a:hover 	{ font-family: 'Nexa_Free_Bold'; text-transform:uppercase}

/*PADRÃO*/
.wrapper 							{ width:100%; margin:0 auto; display:table; margin-top:40px;}
.centro 							{ width:80%; float:right; display:table; margin:0 auto;}
.lateral 							{ width:18%; float:left; margin:0 auto; padding:0 1%; border-right:5px solid #b01116;height:100%; position:fixed;}
.lateral  ul li 					{ list-style:none; color:#3a5460; padding:2% 1%; width:98%; float:left;}
.lateral  ul li:hover				{ color:#fff; background:#3a5460;}

.lateral input[type=text]			{ width:80%; margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1% 0;}
.lateral input[type=password]			{ width:80%; margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1% 0;}
.lateral input[type=button]			{ width:83%; margin:0 auto; margin:1% 0; background:#3a5460; color:#FFF; text-transform:uppercase; border:none; height:35px; outline:none}
.lateral input[type=button]:hover 	{background:#b01116; font-family: 'Nexa Light Regular';}

::-webkit-input-placeholder {font-family: 'Nexa Light Regular'; color:#a7a9ab;}
:-moz-placeholder 			{font-family: 'Nexa Light Regular';color:#a7a9ab;}
::-moz-placeholder 			{font-family: 'Nexa Light Regular';color:#a7a9ab;}
:-ms-input-placeholder 		{font-family: 'Nexa Light Regular';color:#a7a9ab;}

.titulo 					{ font-size:30px; text-align:center; color:#b01116;  font-family: 'Nexa_Free_Bold'; text-transform:uppercase;}
.rodape 					{ width:100%; margin:0 auto; display:table; height:10px; background:#b01116; position:fixed; bottom:0;}
.vermelho 					{color:#b01116;}


input[type=submit]			{ width:20%; margin:0 auto; margin:1%; background:#3a5460; color:#FFF; text-transform:uppercase; border:none; height:35px; outline:none;}
input[type=submit]:hover 	{ background:#b01116; font-family: 'Nexa Light Regular';}

input[type=button]			{ width:20%; margin:0 auto; margin:1%; background:#3a5460; color:#FFF; text-transform:uppercase; border:none; height:35px; outline:none;}
input[type=button]:hover 	{ background:#b01116; font-family: 'Nexa Light Regular';}

/*LOGIN	*/
.login 								{ width:500px; margin:0 auto; text-align:center; display:table; margin-top:50px; color:#3a5460}
.login input[type=text]				{ width:98%; margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1% 0; text-align:center}
.login input[type=password]				{ width:98%; margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1% 0; text-align:center}
.login input[type=button]			{ width:100%; margin:0 auto; margin:1% 0; background:#3a5460; color:#FFF; text-transform:uppercase; border:none; height:35px; outline:none}
.login input[type=button]:hover 	{background:#b01116; font-family: 'Nexa Light Regular';}
.login a							{ font-weight:bold; text-decoration:none;color:#3a5460}
.login a:hover 						{ color:#b01116;}

/*HOME*/
#home .bloco						{ width:22%; float:left; display:table; margin:1%; color:#3a5460;}	
#home .bloco #bloco					{ width:90%; margin:0 auto; padding:5%; display:table; border:1px solid #b01116;}
#home .bloco #bloco .preco 			{ font-size:35px;}
#home .bloco .add_carrinho 			{ width:100%; margin-top:10px; padding:15px 0;border:1px solid #b01116; background:url(../imagens/carrinho2.jpg); transition:0.5s; height:25px;}
#home .bloco .add_carrinho:hover	{ background:url(../imagens/carrinho.jpg);}

/*CADASTRO DE DADOS*/
.cadastro_dados								{ width:600px; display:table; margin:0 auto; margin-top:50px;}
.cadastro_dados input[type=text]			{ margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1% 0; color:#a7a9ab; text-align:left}
.cadastro_dados input[type=password]			{ margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1% 0; color:#a7a9ab; text-align:left}
.cadastro_dados select						{ margin:0 auto; padding:9px 5px; border:1px solid #a7a9ab; margin:1% 0; text-align:left; color:#a7a9ab;}
.cadastro_dados #cad_email					{ width:98%;}
.cadastro_dados #cad_senha					{ width:50%;}
.cadastro_dados #cad_confirma_senha			{ width:50%;}
.cadastro_dados #cad_nome					{ width:98%;}
.cadastro_dados #cad_cpf					{ width:32%; float:left; display:table; margin-right:2%}
.cadastro_dados #cad_dat_nasc				{ width:32%; float:left; display:table; margin-right:1%; margin-left:1%;}
.cadastro_dados #cad_sexo					{ width:32%; float:right; display:table;}
.cadastro_dados #cad_telefone				{ width:47%; float:left; display:table;}
.cadastro_dados #cad_celular				{ width:47%; float:right; display:table;}
.cadastro_dados input[type=button]			{float:right}

/*CADASTRO DE ENDEREÇO*/
.cad_endereco							{ width:800px; display:table; margin:0 auto; margin-top:50px;}
.cad_endereco input[type=text]			{ margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1% 0; text-align:left; color:#a7a9ab;}
.cad_endereco input[type=password]			{ margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1% 0; text-align:left; color:#a7a9ab;}
.cad_endereco select					{ margin:0 auto; padding:9px 5px; border:1px solid #a7a9ab; margin:1% 0; text-align:left; color:#a7a9ab; margin-left:1%; margin-right:1% }
.cad_endereco #end_cep					{ width:40%;}
.cad_endereco #end_residencia			{ width:33%; float:right}
.cad_endereco #end_logradouro			{ width:45%; float:left; margin-right:2%}
.cad_endereco #end_numero				{ width:11%; margin-right:2%}
.cad_endereco #end_bairro				{ width:35%; float:right}
.cad_endereco #end_cidade				{ margin-right:1%;}
.cad_endereco #end_cidade				{ width:35%; float:left}
.cad_endereco #end_obs					{ width:35%; float:right}
.cad_endereco #end_endereco				{ width:100%; margin-left:0;}
.cad_endereco #bt_adicionar				{ float:left;}
.cad_endereco #bt_salvar, 
.cad_endereco #bt_cancelar, 
.cad_endereco #bt_excluir				{ width:15%; float:right;}


/*CADASTRO DE CARTÕES*/
.cadastro_cartao							{ width:600px; display:table; margin:0 auto; margin-top:50px;}

.cadastro_cartao input[type=text]			{ width:47%; margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1%; text-align:left; color:#a7a9ab;}
.cadastro_cartao input[type=password]			{ width:47%; margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1%; text-align:left; color:#a7a9ab;}
.cadastro_cartao select						{ width:47%; margin:0 auto; padding:10px 5px; border:1px solid #a7a9ab; margin:1%; color:#a7a9ab;}
.cadastro_cartao #nome_cartao 				{ width:62%;}
.cadastro_cartao #cod_seguranca				{ width:30%;}
.cadastro_cartao #bt_adicionar				{ width:190px;}

/*CARRINHO*/
.carrinho 			{ width:80%; margin:0 auto; display:table}
.carrinho .col1		{ width:60%; float:left;}
.carrinho .col1 td	{ background:#f1f1f2; border-color:#f1f1f2;}

.carrinho .col1 .descricao	 	{ float: left; margin-left:10px; display:table; width:70%; margin-top:20px;color:#3a5460;}
.carrinho .col1 td	img 		{ float:left; display:table;}
/*PEDIDOS*/
.pedidos				{ width:85%; margin:0 auto; display:table;}
.pedidos table			{ border:none}
.pedidos tr td  		{ border:1px solid #ccc; width:13%; padding:0.4% 1%; }
.pedidos #bt_detalhes	{ width:100%; padding:3% 0;}

/*CUPONS*/
.cupons					{ width:85%; margin:0 auto; display:table;}
.cupons table			{ border:none}
.cupons tr td  			{ border:1px solid #ccc; width:13%; padding:0.4% 1%; }
.cupons #bt_detalhes	{ width:100%; padding:3% 0;}

/*TROCAS*/
.trocas					{ width:85%; margin:0 auto; display:table;}
.trocas table			{ border:none}
.trocas tr td  			{ border:1px solid #ccc; width:13%; padding:0.4% 1%; }
.trocas #bt_detalhes	{ width:100%; padding:3% 0;}
